# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/undefined
/remix_ekoladan/bilder/section-grain.png
/html5shmup-template-2.4-v1/
/_inlämningsuppgift/
/_prov2/
/_slutprojekt/
/_elevlista.gsheet
/_elevlista.txt
/space_tourism/bilder/
/space_tourism/video/
