/* CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Formulärets utseende */
body {

}
form {
    font-family: sans-serif;
    margin: 20px auto;
    width: 500px;
}
h1 {
    color: #7b5b0d;
}
fieldset {
    background: #eddba9;
    border: 10px solid #efca2e;
    border-radius: 20px;
    padding: 15px;
    margin: 5px 0;
}
legend {
    font-size: 20px;
    color: #7b5b0d;
}
label {
    width: 100px;
    display: inline-block;
    margin: 5px 0;
}
input[type="text"], input[type="tel"], input[type="email"] {
    padding: 5px;
    border-radius: 3px;
    font-family: monospace;
    border: none;
    width: 300px;
    color: #5f490d;
}
/* Visa tydligt att vi står in en inmatningsruta */
input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus {
    box-shadow: 0 0 10px blue;
}
/* Färgar rutan om inmatning är korrekt */
input[type="text"]:valid, input[type="tel"]:valid, input[type="email"]:valid {
    background: #fff url(bilder/check.svg) no-repeat;
    background-size: 25px;
    background-position: right;
}
/* Färgar rutan om inmatning är felaktig */
input[type="text"]:invalid, input[type="tel"]:invalid, input[type="email"]:invalid {
    box-shadow: 0 0 10px red;
}
.frivilliga label {
    width: auto;
    margin: 0;
}
/* Döljer default-utseendet */
input[type=checkbox]:not(old),
input[type=radio]:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
}
/* Använder sprite-bilden */
input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
    display: inline-block;
    margin-left: -28px;
    padding-left: 28px;
    background: url('bilder/checks.png') no-repeat 0 0;
    line-height: 24px;
}
/* Få klick att funka */
input[type=checkbox]:not(old):checked + label {
    background-position: 0 -24px;
}
input[type=radio]:not(old):checked + label {
    background-position: 0 -48px;
}
select {
    padding: 5px;
    border-radius: 3px;
    border: none;
    width: 100px;
    background: #FFF;
}
option {

}
textarea {
    padding: 5px;
    width: 300px;
    max-width: 400px;
    height: 200px;
    vertical-align: top;
    border: none;
    border-radius: 3px;
}
button {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 50px;
    border-radius: 25px;
    border: none;
    color: #5f490d;
    font-weight: bold;
    background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
}
button:hover {
    background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
    box-shadow: 0 0 10px red;
}
