/* CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Layoutens utseende */
body {
    background-color: #aa5050;
}
.kontainer {
    width: 700px;
    background-color: #5d2b2b;
    /* Trick 1: centrera box med margin left/right = auto */
    margin: 30px auto 30px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000;
}
h1 {
    font: 60px 'Kumar One', cursive;
    color: #FFF;
    text-align: center;
}

/* Inläggens utseende */
.inlagg {
    width: 600px;
    background-color: #952f2f;
    margin: 0 auto 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}
img {
    width: 400px;
    margin: 0 auto 30px auto;
    /* Trick 2: omvandla bild till block-element för att kunna använda trick 1 */
    display: block;
    border-radius: 10px;
}
h2, h3 {
    font-family: 'Hind', sans-serif;
    color: #FFF;
}
p {
    font-family: 'Oxygen', sans-serif;
    color: #FFF;
}
