/* CSS-reset */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Stänger av float och löser collapsing boxes syndrom */

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* Layoutens utseende */

body {
    font-family: monospace;
}
.kontainer {
    width: 800px;
    margin: 100px auto;
}

/* Del - postnummer */

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.intro {
    text-align: center;
    margin-bottom: 20px;
}
.pnummer {
    text-align: center;
    margin-bottom: 20px;
}
.pnummer label {
    display: none;
}
.pnummer input {
    width: 335px;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #BBB;
}
.pnummer button {
    padding: 10px 50px;
    border-radius: 3px;
}

/* Del - kontaktuppgifter */

h2 {
    float: left;
}
.kontaktuppgifter {
    width: 500px;
    float: right;
}
.kontaktuppgifter label {
    display: none;
}
.kontaktuppgifter input {
    background: #fff url("http://red-team-design.com/dist/uploads/2011/09/login-sprite.png") no-repeat 5px -5px;
    width: 220px;
    padding: 10px 10px 10px 25px;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 2px solid #BBB;
}

/* Remix utseendet */
form {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 0;
    width: 800px;
    background: url("bilder/section-grain.png");
    padding: 20px;
}
form:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    box-shadow: 0 0 0 1px #fff;
}
h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}
h1:after,
h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 250px;
}
h1:after {
    background-image: linear-gradient(to right, #777, #fff);
    right: 0;
}

h1:before {
    background-image: linear-gradient(to left, #777, #fff);
    left: 0;
}
button {
    background-color: #ffb94b;
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    padding: 0;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}
button:hover {
    background-color: #fddb6f;
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
}
input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}
